---
layout: default
image: 
---

<style>

.hero {
  height: 90vh;
  padding-bottom: inherit ;
  background-image: url('{{ page.image | prepend: site.baseurl }}' );
}
.o-wrapper {
padding: 0px 0;
}
.hero-text {
  text-align: center;
  position: relative ;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
}
</style>

<div class='o-wrapper'>
  <div class="hero" id="element">
    <div class="hero-text">
      <h1 style="background-color: #000000">Seminario de Humanidades Digitales</h1>
      <p style="background-color: #000000" >ENES, Morelia. UNAM</p>
      <button class='c-btn c-btn--small' onclick="window.location.href='#learn-more';" >Eventos</button>
      <button class='c-btn c-btn--small'onclick="window.location.href='/about';" >Acerca</button>
      <button class='c-btn c-btn--small' onclick="window.location.href='/contact';">Contacto</button>
    </div>
  </div>
  <br>
  <br>
  <div class='o-grid' id="learn-more">
    {% for post in paginator.posts %}
      {% include post-card.liquid %}
    {% endfor %}
  </div>

  <div class='o-grid'>
    {% include pagination.html %}
  </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r119/three.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.1.9/p5.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/vanta@latest/dist/vanta.trunk.min.js"></script>

<script>
VANTA.TRUNK({
  el: '#element',
  mouseControls: true,
  touchControls: true,
  gyroControls: true,
  minHeight: 200.00,
  minWidth: 200.00,
  scale: 1.00,
  scaleMobile: 1.00,
  backgroundColor: 0xffffff
})
</script>